#interactive_area {
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: relative;
	height:800px;
	margin:0;
	padding:0;
	z-index: -1;

}

div#source_links{
position:relative;
right:100px;
/*top:600px;*/
z-index:200;
/*padding: 0 18px 0 15px;*/
text-align:right;
line-height: 13pt;
}

div#title_bar {
	border-bottom:solid 1.5px #C8C8C8;
	padding: 40px 10px 15px;
	background-image:url('http://www.uhero.hawaii.edu/assets/Dasboardbranding2.png');
	background-repeat:no-repeat;
	background-position: 98% 0%;
	background-size: 15%;
}

h4.dash_title {
	font-size: 27pt;
	text-transform: uppercase;
}

h4.dash_sub {
	font-size: 18pt;
	text-transform: uppercase;
	line-height: 3px;
	
}


.contentwrapper-bottom {
background:none;
background-color:white;
width:100%;
margin:0 0;
}

#content {
background:none;
width:100%;
padding:0 0 30px 0;
height:1200px;
}


.header.primary{
	font-size:30px;
}

.header.secondary_one, .secondary_two	{
	font-size:20px;
}


div.tooltip {  
	position: absolute;
	z-index: 2;
	border-radius: 3px;
	padding: 5px;
	font-size: 12px;
	font-family: Arial,sans-serif;
	opacity: 0;
	color: #fff;
	border: 1px solid rgba(0,0,0,.4);
	margin-left: 1em;
	margin-top: -1em;
	text-align: left;           
	width: 140px;                  
	/*height: 60px;*/                       
	background: #4c4c4c;   
	border: 0px;                
	pointer-events: none;	
}

#slider{
	width:200px;
	position:relative;
	right:-18px;
	top:-90px;
	z-index:1;
}

h3.year {
	position:relative;
	left:220px;
	top:-6px;
}


.header{
	position:relative;
	left:12px;
	top:-14px;
	font-weight:bold;
	letter-spacing:2px;
}

div.inset{
	position:relative;
	width:271px;
	height:22px;
	left:700px;
	top:-187px;
/*	border-top:1px solid;*/
	padding-bottom: 47px;
}

svg#map{
	position:absolute;
}

svg#bar_chart{
	position:relative;
	top:130px;
	margin-left:30px;
	border-top: 1px solid;
}

svg#time_series {
	position:absolute;
	right:327px;;
	bottom:53px;
}

svg#yoy {
	position:absolute;
	right:347px;
	bottom:-50px;
}

svg.inset_time{
	position:absolute;
	left:74px;
	top:34px;
}

svg.inset_svg{
	position:absolute;
	left:-32px;
	top:-43px;
	z-index:-1;
}

#us_details {
	font-size:12px;
	margin-top:10px;
}

#us_details h2{
	font-size:20px;
}

#sorts{
	position:relative;
	top:140px;
	text-align:right;
	width:680px;
}

#sorts a{
	margin-right:10px;
	font-size:14px;
}

#modes{
	position:relative;
	font-size:14px;
	left:30px;
	top:125px;
	width:300px;
}

#fares{
	margin-right:10px;
}

#tickets{
	margin-right:10px;
}


#info_and_controls{
	position:relative;
	left:700px;
	width:300px;
	height:300px;
	border-left: 1px solid;
	top:20px;
}

h1#state{
	font-weight:bold;
	font-size:20px;
	margin-left:10px;
}


#details_secondary_two{
	position:relative;
	top:-82px;
	left:151px;
	color:gray;
}

#details_secondary_two h2, #details_secondary_two h1, #details_secondary_one h2, #details_secondary_one h1{
	color:#C0C0C0;
}

#details_secondary_one{
	margin-top:-10px;
}

g.button rect{
  fill:#19667f;
}

g.button text{
  fill:white;
  font-weight:bold;
  font-size:14px;
}


#slider_desc{
  position:relative;
  top:-80px;
  left:30px;
}

#bar_chart_desc{
  position:relative;
  top:130px;
  left:350px;
}