#interactive_area {
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: relative;
	height:800px;
	margin:0;
	padding:0;
	z-index: -1;

}

div#source_links{
position:relative;
right:100px;
/*top:600px;*/
z-index:200;
/*padding: 0 18px 0 15px;*/
text-align:right;
line-height: 13pt;
}

div#title_bar {
	border-bottom:solid 1.5px #C8C8C8;
	padding: 40px 10px 15px;
	background-image:url('http://www.uhero.hawaii.edu/assets/Dasboardbranding2.png');
	background-repeat:no-repeat;
	background-position: 98% 0%;
	background-size: 15%;
}

h4.dash_title {
	font-size: 27pt;
	text-transform: uppercase;
}

h4.dash_sub {
	font-size: 18pt;
	text-transform: uppercase;
	line-height: 3px;
	
}


.contentwrapper-bottom {
background:none;
background-color:white;
width:100%;
margin:0 0;
}

#content {
background:none;
width:100%;
padding:0 0 30px 0;
height:1200px;
}




div.tooltip {  
	position: absolute;
	z-index: 2;
	border-radius: 3px;
	padding: 5px;
	font-size: 12px;
	font-family: Arial,sans-serif;
	opacity: 0;
	color: #fff;
	border: 1px solid rgba(0,0,0,.4);
	margin-left: 1em;
	margin-top: -1em;
	text-align: left;           
	width: 140px;                  
	/*height: 60px;*/                       
	background: #4c4c4c;   
	border: 0px;                
	pointer-events: none;	
}

#slider{
	height:131px;
	width:60px;
	position:relative;
	right:13px;
	top:56px;
	z-index:1;
}

h3.year {
	position:absolute;
	left:945px;
	bottom: -13px;
}

#price{
	position:absolute;
	font-size:50px;
	left:27px;
}

div.inset{
	position:relative;
	width:271px;
	height:93px;
	left:700px;
	top:26px;
	border-bottom: solid;
	padding-bottom: 47px;
}

svg#map{
	position:absolute;
}

svg#time_series {
	position:absolute;
	right:327px;;
	bottom:53px;
}

svg#yoy {
	position:absolute;
	right:347px;
	bottom:-50px;
}

svg.inset_time{
	position:absolute;
	left:81px;
	top:34px;
}

svg.inset_svg{
	position:absolute;
	left:-60px;
	top:-17px;
}

#us_details {
	position:absolute;
	left:700px;
	bottom:702px;
}

#show_all{
	position:absolute;
	left:180px;
	top:414px;
}

#show_weighted{
	position:absolute;
	left:250px;
	top:414px;
}

#show_none{
	position:absolute;
	left:360px;
	top:414px;
}

#modes{
	position:relative;
	left:270px;
	top:-110px;
}

#fares{
	margin-right:10px;
	text-decoration:underline;
}

#tickets{
	margin-right:10px;
	text-decoration:underline;
}

#yoy{
	text-decoration:underline;
}