#interactive_area {
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: relative;
	height:800px;
	margin:0;
	padding:0;
	z-index: -1;

}

div#source_links{
position:relative;
right:100px;
/*top:600px;*/
z-index:200;
/*padding: 0 18px 0 15px;*/
text-align:right;
line-height: 13pt;
}

div#title_bar {
	border-bottom:solid 1.5px #C8C8C8;
	padding: 40px 10px 15px;
	background-image:url('http://www.uhero.hawaii.edu/assets/Dasboardbranding2.png');
	background-repeat:no-repeat;
	background-position: 98% 0%;
	background-size: 15%;
}

h4.dash_title {
	font-size: 27pt;
	text-transform: uppercase;
}

h4.dash_sub {
	font-size: 18pt;
	text-transform: uppercase;
	line-height: 3px;
	
}


.contentwrapper-bottom {
background:none;
background-color:white;
width:100%;
margin:0 0;
}

#content {
background:none;
width:100%;
padding:0 0 30px 0;
height:1200px;
}

div {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

#interactive_area { position:relative; }

#major_controls, #map_container, #tract_data, #map_scales, #tract_controls { position:absolute }
#map_scales .map_scale { border-top:1px solid #999; position:relative;}
#map_scales svg { position:absolute; bottom:20px; right:0px;}

#column_header { position:absolute; text-align:right; padding:7px 10px;}
#column_header p { font-size:14px; }
#column_header #col_nav li {display:inline; text-transform: uppercase; font-size:10px; cursor:pointer; }
#column_header #col_nav .selected { font-weight: bold;}
#column_header #col_nav {padding:0px 0 0 0;}
.unit_info { text-align:right; text-transform:uppercase; padding:5px 0 0 0; font-size:14px;}
.context_info { text-align: right;color: #AAA} 

.unit_nav { font-size: 10px; text-transform: uppercase; position:absolute; top: 5px;}
.unit_nav ul li { list-style: none; margin:5px 0 0 0; padding:0; width: 60px; background-color: #CCC; text-align:center; color: white; cursor:pointer}
.unit_nav ul li:hover { background-color:#333; }
.unit_nav ul li.selected { background-color:#333; }
#tract_map path.tract {stroke: #FFF; stroke-width:0.02;}
#county_map path.tract {stroke: #EEE; stroke-width:0.06;}
#state_map path.tract {stroke: #EEE; stroke-width:1;}


/* for debugging only. Dump eventually */
#tract_data, #map_container { border: 1px solid #EEE}

#tract_controls li { display: inline; font-size: 10px;}

svg circle.t { fill: #AAA; stroke:#AAA; stroke-width:0; fill-opacity:0}

svg circle.t.show_Total_units { fill: #555; stroke: #555; fill-opacity:1}

svg circle.t.show_Occupied,
svg circle.t.show_Vacant,
svg circle.t.show_Owner_occupied,
svg circle.t.show_Renter_occupied,
svg circle.t.show_VALUE_Less299k,
svg circle.t.show_VALUE_300_499k,
svg circle.t.show_VALUE_500_999k,
svg circle.t.show_VALUE_1Mup,
svg circle.t.show_RENT_Less749,
svg circle.t.show_RENT_750_999,
svg circle.t.show_RENT_1k_1499,
svg circle.t.show_RENT_1k5up,
svg circle.t.show_BLT_After2010,
svg circle.t.show_BLT_2000_2009,
svg circle.t.show_BLT_1990_1999,
svg circle.t.show_BLT_1980_1989,
svg circle.t.show_BLT_1970_1979,
svg circle.t.show_BLT_1960_1969,
svg circle.t.show_BLT_1950_1959,
svg circle.t.show_BLT_1940_1949,
svg circle.t.show_BLT_Before1939 { fill: red; stroke: red; fill-opacity:1}

path.tract {fill: #EEE}
path.tract.selected { fill: #EEE; }
#tract_map path.tract.selected { fill: #CCC }

rect.tract.selected {fill-opacity:1}
g.tract.selected circle {stroke-width:0.02;}

.d3-tip { 
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-size:10px;
 line-height:12px;
 font-weight:bold;
}

circle.highlighter {fill:red; fill-opacity:.5}

